/* HEADER AND FOOTER, PLANTILLA COMUN */
html {
    scroll-behavior: smooth;
}

#logo {
    max-height: 15vh;
}

main {
    min-height: 75vh;
}

i {
    color: #31D2F2;
    font-size: 30px;
}

span {
    width: fit-content;
    float: right;
}


/* MAIN, intenntamos poner caracteristicas de bootstrap como letra, tamaño y algún margin especifico de los párrafos*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;

}

section {
    width: 50%;
    background-color: #ffe38e;  
    padding: 2rem;
    border-bottom: 2px solid #31D2F2;
}



section h2 {
    text-align: center;
}

section p {
    margin-top: 0;
    margin-bottom: 1rem;
}



/* PARTES DE LA PALA */

imagen img{   
  margin-left: 50%;
  margin-right: 50%;
  
    
}


label {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    
}

#protector:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}

#marco:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}

#cordon:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}

#grip:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}
#cabeza:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}

#puente:hover+label {
    display: block;
    top: 500px;
    left: 15px;
}