/* HEADER AND FOOTER, PLANTILLA COMUN */
html {
    scroll-behavior: smooth;
}

#logo {
    max-height: 15vh;
}

main {
    min-height: 75vh;
}

i {
    color: #31D2F2;
    font-size: 30px;
}

span {
    width: fit-content;
}


/* MAIN, intenntamos poner caracteristicas de bootstrap como letra, tamaño y algún margin especifico de los párrafos*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;

}

section {
    width: 50%;
    background-color: #ffe38e;
    padding: 2rem;
    border-bottom: 2px solid #31D2F2;
}



section h2 {
    text-align: center;
}

section p {
    margin-top: 0;
    margin-bottom: 1rem;
}



/* PARTES DE LA PALA */

.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: none;
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    color: #31D2F2;
    background-color: #212529;
    border-radius: 50px;

}


#protector:hover+label {
    display: block;
    top: 860px;
    left: 1060px;
}

#marco:hover+label {
    display: block;
    top: 1050px;
    left: 1050px;
}

#cordon:hover+label {
    display: block;
    top: 1300px;
    left: 1100px;
}

#grip:hover+label {
    display: block;
    top: 1250px;
    left: 960px;
}

#cabeza:hover+label {
    display: block;
    top: 1000px;
    left: 740px;
}

#puente:hover+label {
    display: block;
    top: 1150px;
    left: 780px;

}

/* Para moviles y tables en vertical */
@media (max-width:460px) {

    /* de 0 a 481 */
    .col-s-12 {
        width: 75%;
    }

    .imagen img {
        display: none;
    }

    .imagen h5 {
        display: none;
    }

    .imagen {
        display: block;
        background-image: url(../images/partes/partes_pala_350.png);
        height: 350px;

    }

}

@media (max-width:1800px) {

    .imagen h5 {
        display: none;
    }
}