/* HEADER AND FOOTER, PLANTILLA COMUN */
html {
    scroll-behavior: smooth;
}

#logo {
    max-height: 15vh;
}

main {
    min-height: 75vh;
}

i {
    color: #31D2F2;
    font-size: 30px;
}

span {
    width: fit-content;
}

/* MAIN, intenntamos poner caracteristicas de bootstrap como letra, tamaño y algún margin especifico de los párrafos*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;

}

section {
    width: 50%;
    background-color: #ffe38e;
    padding: 2rem;
    border-bottom: 2px solid #31D2F2;
}



section h2 {
    text-align: center;
}

section p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Para moviles y tables en vertical */
@media only screen and (max-width:991px) {

    /* de 0 a 481 */
    .col-s-12 {        
        width: 75%;
    }

}

/* ANIMACIÓN PELOTA */
.contenedor {
    display: flex;
    flex-direction: column;
    /* que los eleementos hijos se alineen en columna, eje principal y */
    justify-content: center;
    /* el eje principal (y) lo centramos  */
    align-items: center;
    /* el eje secundario (x) lo centramos */
}

.sprite {
    width: fit-content;
    background-color: #31D2F2;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
}


.sprite * {
    cursor: pointer;
}

.sprite input {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.pelota {
    position: relative;
    background-image: url(../images/sprite/pelotas_spritesheet_png.png);
    width: 75px;
    height: 75px;
    left: 50%;
    transform: translate(-50%)
}


#cortado:checked~.pelota {
    animation: cortado .50s steps(4, end) infinite;
}

#liftado:checked~.pelota {
    animation: liftado .50s steps(4, end) infinite;
}



/* @keyframes permite controlar los pasos intermedios en una secuencia de animación CSS a lo largo de la secuencia de animación que debe ser alcanzado por determinados puntos durante la animación. */
@keyframes cortado {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 300px 0px;
    }

}

@keyframes liftado {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -300px 0px;
    }

}


